<a href="https://colab.research.google.com/github/ashishsriv83/Data-Science/blob/main/Home_Assignment_4th_Week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Take input of age of 3 people by user and determine oldest and youngest among them

In [4]:
person1=eval(input("enter age of first person : "))
person2=eval(input("enter age of second person :"))
person3=eval(input("enter age od third person"))
if person1>person2 and person1>person3:
 print("person1 is oldest")
elif person2>person1 and person2>person3:
  print("person2 is oldest")
elif person3>person1 and person3>person2:
   print("person3 is oldest")
if person1<person2 and person1<person3:
 print("person1 is youngest")
elif person2<person1 and person2<person3:
  print("person2 is youngest")
elif person3<person1 and person3<person2:
   print("person3 is youngest")

enter age of first person : 50
enter age of second person :18
enter age od third person21
person1 is oldest
person2 is youngest

2. A student will not be allowed to sit in exam if his/her attendence is less than 75%. Take following input from user
  A)Number of classes held
  B)Number of classes attended.
  And print
  percentage of class attended
  Is student is allowed to sit in exam or not.

In [34]:
 C_held=eval(input("Number os classes held"))
 C_attend=eval(input("Number os classes attended"))
 attendance=C_attend*100/C_held
 if attendance<75:
   print("Students are not allowed to sit in exam")
   
else:
  #1attendance=classes_held*100/classes_attend
  print("You are allowed to sit in exam :  " , attendance)

Number os classes held100
Number os classes attended90
You are allowed to sit in exam :   90.0

3.print whether The given number is of one digited or two digited or three digited or more than three digited. TAKE THE INPUT FROM USER

In [32]:
n=eval(input("enter the number"))
if n>0 and n<10:
  print("number is of one digit")
elif n>9 and n<100:
  print("number is of Two digit") 
elif n>99 and n<1000:
  print("number is of three digit")
else:
  print("number is more than three digit")

enter the number1200
number is more than three digit

4. Take the input(year) from user and check whether it is leap year or not

In [38]:
year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))

Enter a year: 2008
2008 is a leap year

5.Check if a value 200 exists in a dictionary
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [39]:
Dict = {'a': 100, 'b': 200, 'c': 300}
key_to_lookup='b'
if key_to_lookup in Dict:
   print("value 200 exits")
else:
  print("value is not present in dict")

value 200 exits

6. Create a Nested dictionary and change the values nested dictinary

In [44]:
D={'emp1':{'name':'Ashish','job':'sales'},
    'emp2':{'name':'prakash','job':'Marketing'},
    'emp3':{'name':'Arun','job':'developer'}    
   }
D['emp3'] ['name']='Manish'
D['emp3'] ['job'] ='Associates Consultants'
print(D)

{'emp1': {'name': 'Ashish', 'job': 'sales'}, 'emp2': {'name': 'prakash', 'job': 'Marketing'}, 'emp3': {'name': 'Manish', 'job': 'Associates Consultants'}}